@use "./partials/variables" as *;
@use "./partials/mixins" as *;

@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgb(46, 45, 45);
    p {
        margin-bottom: 5px;
    }

    h1 {
        color: rgb(205, 204, 204);
    }

    img {
        width: 300px;
        height: 400px;
    }
}
